<div class="container" style="width: 40%;">
  <h1 style="text-align: center;color: white;font-size: 60px;">Crypto View App</h1>
  <div class="card" style="width: 100%;background: white;padding:15px">
    <div class="card-body">
        <h1 style="text-align: center;" class="modal-title" id="exampleModalLabel">Cryptocoin</h1>
        <hr/>
        <h3 style="margin-bottom: 39px;">{{name}}&nbsp;${{price}}&nbsp;USD</h3>
        <div class="card-footer" style="text-align: right;">
            <a href="#" style="text-align: right;" routerLink="/home" class="btn btn-primary">Ok</a>
        </div>
    </div>
  </div>
</div>

